.quotes {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  margin: auto;
}

.quotes p {
  border: 1px solid #1c1c1c;
  padding: 10px;
  background: #1c1c1c;
  color: rgba(81, 255, 0, 0.938);
  border-radius: 20px;
}
